Docs/Parameters XML File/Parameters_XML_Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[1]\.[0-1]"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
		<xs:element name="channel" minOccurs="1" maxOccurs="256">
          <xs:complexType>
            <xs:sequence>
               <xs:element name="hardwareChannel">
                  <xs:simpleType>
                     <xs:restriction base="xs:int">
                       <xs:minInclusive value="0"/>
                       <xs:maxInclusive value="255"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="terminals" minOccurs="0" maxOccurs="1">
               <xs:unique name="onlyOnebusController">
                  <xs:selector xpath="terminal" />
                  <xs:field xpath="busController" />
               </xs:unique>
				  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="terminal" minOccurs="1" maxOccurs="32">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="terminalAddress" minOccurs="1" maxOccurs="1">
                                    <xs:simpleType>
                                       <xs:restriction base="xs:int">
                                          <xs:minInclusive value="0"/>
                                          <xs:maxInclusive value="31"/>
                                       </xs:restriction>
                                    </xs:simpleType>
                                 </xs:element>
                                 <xs:element type="xs:string" name="terminalName" minOccurs="0" maxOccurs="1"/>
								         <xs:element type="xs:boolean" name="busController" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="acyclicFrame" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="createTriggerChannel" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                    <xs:element name="name" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
               </xs:element>
               <xs:element name="message" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="address"  minOccurs="1" maxOccurs="2">
                      <xs:complexType>
                        <xs:sequence>
                           <xs:element name="terminalAddress" minOccurs="1" maxOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="31"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="subAddress" minOccurs="1" maxOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:int">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="31"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="direction" default="Rx" minOccurs="1" maxOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="Rx"/>
                                    <xs:enumeration value="Tx"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     <xs:element name="messageType" minOccurs="1" maxOccurs="1">
                         <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="BC to RT" />
                              <xs:enumeration value="RT to BC" />
                              <xs:enumeration value="RT to RT" />
                              <xs:enumeration value="MC" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="numberOfWords" minOccurs="1" maxOccurs="1">
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                              <xs:maxInclusive value="32"/>
                            </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="modeCode" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                              <xs:maxInclusive value="31"/>
                            </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element type="xs:boolean" name="createTimestampChannel" maxOccurs="1" minOccurs="0" default="false">
                        <xs:annotation>
                           <xs:documentation>Automatic creation of read-only VeriStand channel for timestamp is only supported for Rx messages/endpoints.</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="parameters" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="parameter" maxOccurs="unbounded" minOccurs="1">
                                 <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                       <xs:element name="encoding" default="BNR" maxOccurs="1" minOccurs="1">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:enumeration value="BNR"/>
                                                <xs:enumeration value="BCD"/>
                                                <xs:enumeration value="Discrete"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:boolean" name="signed" maxOccurs="1" minOccurs="0" default="false"/>
                                       <xs:element name="startBit"  maxOccurs="1" minOccurs="1"  default="8">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:int">
                                                <xs:minInclusive value="0"/>
                                                <xs:maxInclusive value="511"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="numberOfBits" maxOccurs="1" minOccurs="1">
                                       <xs:simpleType>
                                          <xs:restriction base="xs:int">
                                             <xs:minInclusive value="1"/>
                                             <xs:maxInclusive value="53"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:double" name="scale"  default="1.0" maxOccurs="1" minOccurs="0"/>
                                       <xs:element type="xs:double" name="offset" default="0.0" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="name">
                                          <xs:annotation>
                                             <xs:documentation>For Discrete encoding, there is one "name" element per Bit</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element type="xs:string" name="unit" maxOccurs="1" minOccurs="0"/>
                                       <xs:element type="xs:double" name="defaultValue"  default="0.0"/>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>